data
*.blktrace.[0-9]
*.blktrace.[0-9][0-9]
*.blktrace.[0-9][0-9][0-9]
coherence
[rw][0-9][0-9]-directsector
[rw][0-9][0-9]-sector
[rw][0-9][0-9]-block
[rw][0-9][0-9]-byte
[rw][0-9][0-9]-directbyte
[rw][0-9][0-9]-directblock
[rw][0-9][0-9]-mmapblock
[rw][0-9][0-9]-mmapbyte
[rw][0-9][0-9]-mmapsector
[rw][0-9][0-9]-mmapstridebyte
[rw][0-9][0-9]-multistdiostridebyte
[rw][0-9][0-9]-revblock
[rw][0-9][0-9]-revbyte
[rw][0-9][0-9]-stdioskip
[rw][0-9][0-9]-stdioadviseskip
[rw][0-9][0-9]-stdioadviseendsbyte
[rw][0-9][0-9]-stdioblock
[rw][0-9][0-9]-stdiobyte
[rw][0-9][0-9]-stdioendsbyte
[rw][0-9][0-9]-stdiorevblock
[rw][0-9][0-9]-stdiorevbyte
[rw][0-9][0-9]-stdiostrideblock
[rw][0-9][0-9]-stdiostridebyte
[rw][0-9][0-9]-strideblock
[rw][0-9][0-9]-stridebyte
[rw][0-9][0-9]-syncblock
[rw][0-9][0-9]-syncbyte
[rw][0-9][0-9]-stdioskipbyte
matrixmultiply
base-matrixmultiply
