filtermultiples
forkmix-syscall
forkmix-stdio
forkmix-file
fork1
fork2
forkmyecho
manyfork
myecho
pipedemo
pipesizer
primesieve
runmyecho
selfpipe
childpipe
spawnmyecho
waitblock
waitblocksafe1
waitblocksafe2
waitdemo
waittimeout
